.flashy{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h1{
    background-color: white;
    color: orange;
    text-align: center;
}

p{
    background-color: gray;
    color: white;
}

body{
    background-image: url('peakpx.jpg');
    width: 100%;
}