.flashy{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
img{
    width: 100%;
}
h1{
    background-color: white;
    color: orange;
    text-align: right;
    padding-right: 50px;
}

p{
    background-color: gray;
    color: white;
}

body{
    background-image: url('peakpx.jpg');
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
}

.awning .flashy{
    background-color: gray;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    float: left;
    box-shadow: rgba(0, 0 0, 0.1) 0px 10px 10px;
    border: 1px solid gray;
}


.awning .disk{
    box-shadow: rgba(0, 0 0, 0.1) 0px 10px 10px; 
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.disk li{
    width: 100px;
    display: inline;
    padding: 0;
}

.disk li a img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.naver{
    background-color: gray;
    border-radius: 15px;
    margin: 0 auto;
    width: 150px;
    float: right;
    box-shadow: rgba(0, 0 0, 0.1) 0px 10px 10px;
    border: 1px solid gray;
    padding-left: 40px;
}

.naver li{
    width: 100px;
    padding: 0;
}

.content{
    background-color: gray;
    border-radius: 15px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    box-shadow: rgba(0, 0 0, 0.1) 0px 10px 10px;
    border: 1px solid gray;
    padding-left: 155px;
}

